@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<header>
    <div class="container">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>

        <a asp-controller="Home" asp-action="Index"
           class="btn btn-primary py-2 px-3 mb-5"><i class="icon-home"></i> Back Home</a>
    </div>
    
</header>

<br />
<br />
<br />

<br />
