@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<br />
<br />
<br />
<br />
<br />
<br />



<div class="container justify-content-center" style="text-align: center;">
    <header>
        <h1 class="mb-3">@ViewData["Title"]</h1>
        @{
            if (User.Identity?.IsAuthenticated ?? false)
            {
                <form class="form-inline justify-content-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="btn btn-primary">Click here to Logout</button>
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </header>
</div>

<br />
<br />
<br />
<br />
<br />
<br />