@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mt-5 mb-4">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb mb-0">
			<li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
			<li class="breadcrumb-item"><a asp-controller="PropertyTypeRealEstate" asp-action="GetPropertyTypes">Property Types</a></li>
			<li class="breadcrumb-item active" aria-current="page">new Property Type</li>
		</ol>
	</nav>
</div>

<div class="card py-5">
	<div class="container">
		<form method="post" asp-controller="PropertyTypeRealEstate" asp-action="SaveAddPropertyType">

			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" name="Name" required>
			</div>
			<div class="form-group">
				<label for="description">Description:</label>
				<textarea class="form-control" id="description" name="Description" rows="4" required></textarea>
			</div>

			<input type="submit" value="Add Subcategory" class="btn btn-primary mt-4">
		</form>
	</div>
</div>