@model List<Property.DTOs.Country.GetCountryDTO>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mt-5 mb-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-controller="City" asp-action="GetCity">Cities</a></li>
            <li class="breadcrumb-item active" aria-current="page">new City</li>
        </ol>
    </nav>
</div>

<div class="card py-5">
    <div class="container">
        <form method="post" asp-controller="City" asp-action="SaveAddCity">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea id="Description" name="Description" class="form-control" required></textarea>
            </div>

            <div class="form-group">
                <label for="countryId">Country:</label>
                <select id="countryId" name="countryId" class="form-control" required>
                    @foreach (var country in Model)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                </select>
            </div>

            <input type="submit" value="Add City" class="btn btn-primary mt-4">
        </form>
    </div>
</div>
