@model Property.DTOs.TransactionType.GetTransactionTypeDTO

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row page-titles">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active"><a href="javascript:void(0)">Transaction Type</a></li>
		<li class="breadcrumb-item"><a href="javascript:void(0)">Update</a></li>
	</ol>
</div>
<!-- row -->

<div class="container">
	<h2>Update SubCategory</h2>
	<br />

	<form method="post" asp-controller="TransactionType" asp-action="SaveUpdateTransactionType">
		<div class="form-group">
			<input type="hidden" class="form-control" id="id" name="id" value="@Model.Id" required>
		</div>
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" id="name" name="name" value="@Model.Name" required>
		</div>

		<br></br>
		<button type="submit" class="btn btn-primary">Update</button>
	</form>
</div>